* {
    margin: 0;
    padding: 0;
}
body {
   background: #0E1014; 
}
span {
    color: #9747FF;
}
h1 {
    font-size: 40px;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px; /*espaçamento entre letras mais separadas*/
}
p{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
    line-height: 35px; /*espaçamento entre os textos*/
}
a{
    margin-bottom: 10px;
    font-weight: 900;
    background-color: #9747FF;
    color: white;
    text-decoration: none;
    padding: 12px 20px; /*padding cria um espaçamento interno*/
    border-radius: 160px;
    border: 1px solid gray;
}
a:hover {
    background-color: #8233E8;
}