@font-face{
    font-family: "Unbounded";
    src: url("../tacboard/fonts/Unbounded-ExtraBold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Poppins";
    src: url("../tacboard/fonts/Poppins-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
   background: #0E1014; 
   text-align: center; /*Todo conteúdo inline ou inline-block dentro do body fica centralizado*/
   flex-direction: column;
   align-items: center;
   color: #ffff;
}
 header img {
    margin: 20px 50px;
    padding: 30px;
 }
span {
    color: #9747FF;
}
h1 {
    font-family:"Unbounded";
    font-size: 55px;
    letter-spacing: 5px; /*espaçamento entre letras mais separadas*/
    text-align: center;
}
p{
    font-family: "Poppins";
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
    
}
a{
    display: inline-block;
    color: white;
    font-family: "Poppins";
    font-size: 15px;
    text-decoration: none;
    background-color: #9747FF;
    padding: 12px 20px;
    border-radius: 160px;
    margin: 35px auto;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}

a:hover {
    background-color: #8233E8;
}

@media (max-width: 768px) {
    header img {
        margin: 40px auto 0;
    }

    p {
        max-width: 648px;
    }
}

@media (max-width: 375px) {
    header {
        margin: 32px 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        max-width: 340px;
        font-size: 20px;
    }

    img {
        width: 100%;
        max-width: 340px;
        height: auto;
    }
}