@font-face{
    font-family: "Unbounded";
    src: url("../tacboard/fonts/Unbounded-ExtraBold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "Poppins";
    src: url("../tacboard/fonts/Poppins-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
   background: #0E1014; 
   text-align: center; /*Todo conteúdo inline ou inline-block dentro do body fica centralizado*/
   flex-direction: column;
   align-items: center;
}
 header img {
    margin: 20px 50px;
    padding: 30px;
 }
span {
    color: #9747FF;
}
h1 {
    font-family:"Unbounded";
    font-size: 55px;
    color: #ffff;
    letter-spacing: 5px; /*espaçamento entre letras mais separadas*/
    text-align: center;
}
p{
    text-align: center;
    font-size: 20px;
    font-family: "Poppins";
    color: #ffff;
    line-height: 35px; /*espaçamento entre os textos*/
}
a{
    display: inline-block;
    color: white;
    font-family: "Poppins";
    font-size: 15px;
    text-decoration: none;
    background-color: #9747FF;
    padding: 12px 20px;
    border-radius: 160px;
    margin: 35px auto;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}

a:hover {
    background-color: #8233E8;
}