.categories {
    margin-bottom: 50px;
}

.section-title{
    width:312px ;
    margin: 0 auto;
}
.categoria-cards  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}
.categoria-cards .cards{
    background-color: var(--background-secondary-color);
    height: 220px;
    width: 312px;
    border-radius: 14px;
    padding: 32px 24px;
    text-align: center;
    text-decoration: none;
    color: var(--text-primary-color);
}

.categoria-cards .cards.single-line.transfer img {
    margin: 10px 0 20px;
}
@media screen and (min-width: 768px){
    .categoria-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-title{
        width:100%;
    }
}
@media screen and (min-width: 1024px){
    .categoria-cards .cards{
        width: 430px;
    }
}

@media screen and (min-width: 1440px) {
  .categoria-cards .cards {
    width: 280px;
  }
}