.destinations{
    width: 282px;
    margin: 0 auto;
}

.destination-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item header {
    margin-bottom: 24px;
}

.destinations .item .img-item {
    width: 100%;
    height: 368px;
}

.destinations .item.tokyo .img-item{
    background: url(../img/mobile-Tokyo.jpg) no-repeat;
    background-size: cover;
}

.destinations .item.Osaka .img-item{
    background: url(../img/mobile-Osaka.jpg) no-repeat;
    background-size: cover;
}

.destinations .item header h4 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}
.destinations .button {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }
  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
  .destinations .item.tokyo .img-item {
    background: url(../img/tablet-Tokyo.jpg);
    background-size: cover;
  }
  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg);
    background-size: cover;
  }
  .destinations .button {
    width: 280px;
  }
}
@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}
@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }
  .destination-items {
    flex-direction: row;
  }
}