
header {
    background-color: var(--background-tertiary-color);
    display: flex; /*ativa o flebox*/
    flex-direction: row; /*itens em linha*/
    justify-content: space-between; /*itens nas estremidade*/
    align-items: flex-start; /*alinhados no top*/
    padding: 37px 48px;
    position: relative;/*referencia para position absulute*/
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}
.navegacao-menu {
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiary-color);
}
nav {
    display: none;
}

.list-links {
    list-style: none;
}

.list-links li {
    margin: 16px 0; /*espaçamento entre os links*/
}

.list-links li a{
    color: var(--text-secondary-color);
    text-decoration: none;
}
    