.hero .hero-img, .bottom-hero .hero-img{
    height: 400px;
    width: 100%;
}
section.hero,
section.bottom-hero {
  width: 100%;
  margin: 0;
}

.hero .hero-img{
    background-image: url(../img/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover; /*preencher completamente a área de fundo do elemento*/
}

.bottom-hero .hero-img{
    background-image: url(../img/Imagem\ pré\ rodapé\ 1.png);
    background-repeat: no-repeat;
    background-size: cover; /*preencher completamente a área de fundo do elemento*/
}

.hero h2 {
    padding: 88px 24px;
    margin: 0px;
    font-weight: var(--title-weight);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero .hero-img {
        height: 620px;
        background-image: url(../img/hero-tablet.jpg) no-repeat;
        background-size: cover; /*preencher completamente a área de fundo do elemento*/
    }
    .bottom-hero .hero-img{
        height: 400px;
        background-image: url(../img/Imagem\ pré\ rodapé\ 1.png);
        background-repeat: no-repeat;
        background-size: cover; /*preencher completamente a área de fundo do elemento*/
    }
    .hero h2 {
        padding: 88px 60px;
        font-size: 32px;
    }

}

@media screen and (min-width: 1024px){
    .hero .hero-img {
        background-image: url(../img/hero-desktop.png);
        background-size: cover; /*preencher completamente a área de fundo do elemento*/
    }
    .bottom-hero .hero-img {
        height: 600px;
        background-image: url(../img/rodape-img-GG.png);
        background-repeat: no-repeat;
        background-size: cover; /*preencher completamente a área de fundo do elemento*/
    }
    .hero h2 {
        padding: 88px 120px;
    }
}

@media screen and (min-width: 1920px){
    .hero h2 {
    padding: 88px 160px;
    width: 1440px;
    margin: 0 auto;
    }
}