.payments .image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 460px;

    width: 100%;
}



.payments .content-container  .image-gallery .image.bag {
    background: url(../img/malas\ japão\ 1.png);
    background-size: cover;
}

.payments .content-container  .image-gallery .image.passport {
    background: url(../img/passport\ japão\ 2.png);
    background-size: cover;
}

.payments .content-container  .image-gallery .image.people {
    background: url(../img/ponte\ japão\ 3.png);
    background-size: cover;
}

.payments .content-container  .image-gallery .people.colspan-2{
    grid-column: span 2;
}

@media screen and (min-width: 768px){
    .payments .content-container  .image-gallery .image.bag {
        background: url(../img/galary1-tablet.png);
        background-size: cover;
    }

    .payments .content-container  .image-gallery .image.passport {
        background: url(../img/galery2-tablet.png);
        background-size: cover;
    }

    .payments .content-container  .image-gallery .image.people {
        background: url(../img/galery3-tablet.png);
        background-size: cover;
    }
}

@media screen and (min-width: 1440px) {
    .payments .content-container{
        display: flex;
        justify-content: space-between;
    }
    .payments .content-container .text-content {
        width: 360px;
    }
    .payments .content-container .image-gallery {
        width: 790px;
        margin-top: 24px;
    }
}